---
title: "Welcome to Triai"
layout: "default"
---

import Stats from '../components/Stats.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import CallToAction from '../components/CallToAction.astro';
import BentoGrid from '@components/Services.astro';
import SpeedSection from '@components/ToolsTechs.astro';

<Layout title="Welcome to Triai">
  <main class="space-y-16 sm:space-y-28 lg:space-y-32 pb-40 overflow-hidden">
    <HeroSection/>
    <BentoGrid />
    <SpeedSection />
    <Stats/>
    <CallToAction/>
  </main>
</Layout>
