---
title: "Contact"
---


import Container from "./Container.astro"
import Frame from "./Frame.astro"
import { cn } from "@lib/utils"
import {button} from "@tailus/themer-button"

<div id="get-started" class="relative">

  <Container>

  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Contact Us</h2>
    <p class="mt-2 text-lg leading-8 text-gray-600">Drop your message, our team will coordinate with you soon.</p>
  </div>

  <form action="#" method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
      <div class="sm:col-span-2"> 
        <div class="mt-2.5">
          <input id="Name" type="text" placeholder="Full Name" class="w-full p-2 border border-gray-300 rounded-md bg-transparent text-white placeholder-gray-600 focus:outline-none focus:border-red-500">
        </div>
      </div>

      <div class="sm:col-span-2">
        <div class="mt-2.5">
          <input id="Email" type="text" placeholder="Email Address" class="w-full p-2 border border-gray-300 rounded-md bg-transparent text-white placeholder-gray-600 focus:outline-none focus:border-red-500">
        </div>
      </div>
      
      <div class="sm:col-span-2">
        <div class="mt-2.5">
          <input id="Contact Number" type="text" placeholder="Contact Number" class="w-full p-2 border border-gray-300 rounded-md bg-transparent text-white placeholder-gray-600 focus:outline-none focus:border-red-500">
        </div>
      </div>
      
      


      <div class="sm:col-span-2">
        <div class="mt-2.5">
          <textarea name="message" id="message" placeholder="Your Message" rows="4" class="w-full p-2 border border-gray-300 rounded-md bg-transparent text-white placeholder-gray-600 focus:outline-none focus:border-red-500"></textarea>
      </div>
      </div>


      
    </div>
    <div class="mt-10">
      <button type="submit" class="block w-full rounded-md bg-orange-700 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-orange-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Let's talk</button>
    </div>
  </form>
<!-- </div> -->

  </Container>
</div>
