---
title: "Services"
---

import { cn } from "@lib/utils";
import Container from "./Container.astro";
import {softGradientVariant as card} from "@tailus/themer-card"




<style>
    .spacer {
      height: 20px; /* Adjust the value as needed */
    }
  </style>


<section>
    <Container>
      <div class="mx-auto max-w-7xl px-6 lg:px-8" id="Services">
        <div class="mx-auto max-w-2xl lg:text-center">
          <p class="mt-2 text-3xl font-semibold tracking-tight text-gray-950 dark:text-white sm:text-4xl">Our <span class="text-orange-800 font-semibold">Services</span> to empower your business</p>
          <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray">At <span class="text-gray-600 font-semibold">Tri-AI</span>, we specialize in transforming your ideas into intelligent, AI-driven solutions. From custom software development to product design, our expert team is here to bring your vision to life</p>
        </div>

        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
          <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
            

            <div class="relative pl-16 transition-transform transform hover:scale-105 focus-within:border-none border-2 border-transparent group">
              <dt class="text-2xl font-semibold leading-9 text-gray-900 dark:text-white group-hover:text-orange-500">
                <div class="absolute left-0 top-0 flex h-15 w-15 items-center justify-center rounded-lg">
                  <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="ai.png" alt="Transistor" width="512" height="512">
                </div>
                AI/ML Solutions
              </dt>
              <dd class="mt-2 text-base leading-5 text-gray-600">Unlock the potential of your data with our cutting-edge AI/ML solutions. From predictive analytics to intelligent automation, we provide tailored machine learning models that drive innovation and efficiency in your business.</dd>
            </div>
            
            
            
            

            
            <div class="relative pl-16 transition-transform transform hover:scale-105 focus-within:border-none border-2 border-transparent group">
              <dt class="text-2xl font-semibold leading-9 text-gray-900 dark:text-white group-hover:text-orange-500">
                <div class="absolute left-0 top-0 flex h-15 w-15 items-center justify-center rounded-lg">
                  <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="ai-football.png" alt="Transistor" width="512" height="512">
                </div>
                Generative AI
              </dt>
              <dd class="mt-2 text-base leading-5 text-gray-600">Experience the future of creativity with Generative AI solutions. From generating realistic images and videos to crafting compelling text and music, our advanced algorithms unleash endless possibilities for innovation and artistic expression.</dd>
            </div>



            <div class="relative pl-16 transition-transform transform hover:scale-105 focus-within:border-none border-2 border-transparent group">
              <dt class="text-2xl font-semibold leading-9 text-gray-900 dark:text-white group-hover:text-orange-500">
                <div class="absolute left-0 top-0 flex h-15 w-15 items-center justify-center rounded-lg">
                <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="conv-agent.png" alt="Transistor" width="512" height="512">
                </div>
                Conversational Agents
              </dt>
              <dd class="mt-2 text-base leading-5 text-gray-600">Enhance customer engagement with advanced Conversational Agents. Leveraging state-of-the-art natural language processing, our AI-driven chatbots and virtual assistants provide seamless, personalized interactions that improve customer satisfaction and streamline support services.</dd>
            </div>


            <div class="relative pl-16 transition-transform transform hover:scale-105 focus-within:border-none border-2 border-transparent group">
              <dt class="text-2xl font-semibold leading-9 text-gray-900 dark:text-white group-hover:text-orange-500">
                <div class="absolute left-0 top-0 flex h-15 w-15 items-center justify-center rounded-lg ">
                <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="vision.png" alt="Transistor" width="512" height="512">
                </div>
                Computer Vision
              </dt>
              <dd class="mt-2 text-base leading-5 text-gray-600">Transform your visual data into actionable intelligence with our advanced Computer Vision solutions. From automated quality inspection to enhanced security systems, our technology provides precise and reliable visual recognition capabilities that elevate your business operations.</dd>
            </div>
          </dl>
        </div>
      </div>        


                                              
    </Container>
</section>
